
<div class="mainContent">
    <div class="container">
        <div class="mb-3">
            <div class="row py-4 pt-md-5 mb-md-2 align-items-center">
                <!-- Primer Columna -->
                <div class="col-md-5 pr-lg-2 mt-2 mt-lg-5 mb-md-0 text-center">
                    <h1 class="text-left mt-lg-5 whiteText">
                        Guías <span>de Apoyo</span>
                    </h1>
                </div>
                <!-- Segunda Columna -->
                <div class="col-md-7 pl-md-4 mt-5 mt-md-3">
                    <div class="card-deck row mt-sm-5 px-3">
                        <div class="card border-secondary mb-3 w-50">
                            <div class="card-header titleTema py-1">01</div>
                            <div class="card-body text-secondary py-1 py-md-2">
                              <h5 class="card-title">¿Qué es PrepaNet?</h5>
                            </div>
                            <div class="card-footer text-right cardBtn" (click)="goto(1)">
                                Ver
                            </div>
                        </div>
                        <div class="card border-secondary mb-3 w-50">
                            <div class="card-header titleTema py-1">02</div>
                            <div class="card-body text-secondary py-1 py-md-2 ">
                              <h5 class="card-title">Aspectos Académico-Administrativos</h5>
                            </div>
                            <div class="card-footer text-right cardBtn" (click)="goto(2)">
                                Ver
                            </div>
                        </div>
                    </div>
                    <div class="card-deck row px-3">
                        <div class="card border-secondary mb-3 w-50">
                            <div class="card-header titleTema py-1">03</div>
                            <div class="card-body text-secondary py-1 py-md-2 ">
                              <h5 class="card-title">Las Plataformas</h5>
                            </div>
                            <div class="card-footer text-right cardBtn" (click)="goto(3)">
                                Ver
                            </div>
                        </div>
                        <div class="card border-secondary mb-3 w-50">
                            <div class="card-header titleTema py-1">04</div>
                            <div class="card-body text-secondary py-1 py-md-2 ">
                              <h5 class="card-title">Tutores y Consejeros</h5>
                            </div>
                            <div class="card-footer text-right cardBtn" (click)="goto(4)">
                                Ver
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>



</div>
